body {
  font-family: "Lora", sans-serif;
  font-size: 1.1rem;
}

footer,
nav {
  background-color: #cccccc;
  font-family: "Open Sans", sans-serif;
}

nav a:hover {
  color: #1a62ff !important;
  transition: .2s linear;
}

ol li,
.complement-shortcuts li {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  font-weight: bold;
}

table > tbody > tr > td:nth-child(2) {
  width: 24%;
  text-align: left;
}

table > tbody > tr > td:nth-child(1) {
  text-align: center; /* Centre le texte */
}
table td{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 900px;
}
tr > th:nth-of-type(1) {
  width: 1%;
}

@media (max-width: 768px) {
  .zone_edition {
    display: none;
  }
}
.shake-animation {
  animation: bounce-shake 0.6s ease-in-out;
}

@keyframes bounce-shake {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-5px);
  }

  /* Légère montée */
  50% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  /* Tremblement */
  70% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateY(0);
  }

  /* Retour à la position initiale */
}

.editor {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
}

.message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

.fullscreen-slide {
  height: 100vh;
  width: 70vw;
  scroll-snap-align: start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chrono {
  position: fixed;
  top: 5% !important;
  left: 7% !important;
  width: 11%;
  padding: .6rem;
  background: #f8f9fa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.chrono p {
  font-size: 1.5rem;
  margin: 0;
}

.chrono button {
  font-size: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body.dark-mode {
  background-color: #181a1b; /* Bleu nuit */
  color: white;
}
body.dark-mode aside {
  color: black;
}
body.dark-mode footer {
  color: black;
}

body.dark-mode .btn-darkmode {
  background-color: gray;
}

body.dark-mode nav,
body.dark-mode footer {
  background-color: gray;
  color: white;
}

body.dark-mode .navbar-nav a {
  color: white !important;
}

body.dark-mode .navbar-nav a:hover {
  color: #1a62ff !important;
}

body.dark-mode .card-form,
body.dark-mode .card {
  background-color: rgb(194, 194, 194);
}

body.dark-mode .chrono {
  color: white;
  background-color: gray;
}

body.dark-mode .card-body .card-body {
  background: white;
}
body.dark-mode .error404 {
  color: white !important;
}

body.dark-mode .text-muted{
  color: white !important;
}

.link-disabled {
  pointer-events: none;
  opacity: 0.5; 
  cursor: not-allowed; 
}
